.stock-screen {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: flex-start;
}

.stock {
  width: 20%;
  height: 20vh;
  padding: 5px;
}
