.container {
  display: flex;
  /* width: 90%; */
  height: 200px;
  align-items: center;
  justify-content: space-around;
  /* padding: 10px; */
  margin-bottom: 3%;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.contents {
  /* position: relative;
  margin-bottom: auto;
  margin-left: 1%;
  padding: 0.5%;
  width: 85%;
  height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  padding: 2%;
}

.readMore {
  /* margin-top: 10px;
  position: absolute;
  bottom: 0; */
  margin-top: auto;
  margin-left: auto;
}

.readMore a {
  color: #e2dcdc;
}

.title a {
  color: #0e43ad;
  text-decoration: none;
  font-size: 15pt;
}

.text {
  margin-top: 1%;
}

.text p {
  font-size: 12pt;
  line-height: 23px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 600px;
}

.image {
  width: 35%;
  height: 100%;
  margin-right: auto;
}

.image img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin-top: 1%;
  font-size: 10pt;
  font-style: italic;
  color: #e2dcdc;
}
