.wrapper {
  margin-top: 25px;
  min-height: 80vh;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.title {
  color: #e2dcdc;
  /* margin-bottom: 15px; */
}

.today {
  font-size: 10pt;
}

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
}

.content-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 15px; */
}
