body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Helvetica Neue",
    "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
