.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  z-index: 101;
  overflow-y: auto;
}

.title {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  text-align: center;
}

.stockInfo {
  display: flex;
  position: relative;
  left: 10%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px -3px 10px 0px rgba(235, 233, 233, 0.404);
  height: 45%;
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}

.newsContainer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 45%;
  padding: 5px;
  margin-top: 10px;
}

.newsTitle {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 10%;
  text-align: center;
}

.newsFeed {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  height: 90%;
}
